<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div id="contentDiv") style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;" class="body">    <div id="qm_con_body"><div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="">

   
      
      

   <img src="http://pqla51t0s.bkt.gdipper.com/logo1.png" width="1" height="1" style="display:none !important; max-height:1px !important; max-width:1px !important; border:0 !important; background-color:transparent !important; padding:0 !important; outline:0 !important; min-height:1px !important; min-width:1px !important; height:1px !important; width:1px !important;">
      <table width="650" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
<tbody><tr>
         <td>
            <table width="650" border="0" cellpadding="0" cellspacing="0">
               <tbody><tr>
   <td width="8" align="left">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#da291c">
         <tbody>
            <tr>
               <td width="8" align="left" bgcolor="#da291c">  <img src="http://f.chtah.com/i/44/1751248092/top-header-logo-order-confirmation2.jpg" width="8" height="44" style="display:block">
               </td>
            </tr>
         </tbody>
      </table>
   </td>
                  <td align="center">
                     <a href="" target="_blank" rel="noopener"><img src="http://pqla51t0s.bkt.gdipper.com/logo1.png" height="72" style="display:block;">
                     </a>
                  </td>
                  <td align="left">
                     <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#da291c">
                        <tbody>
                           <tr>
                              <td width="440" align="right" bgcolor="#da291c"><img src="http://f.chtah.com/i/44/1751248092/order-confirmed-ebm-header.png" width="440" style="display:block">
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
            </tbody></table>
         </td>
      </tr>
         <tr>
            <td>
               <table width="650" align="center" class="devicewidthinner" style="width:600px" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
                  <tbody>

                     <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 15px; color: #0D0D0D;line-height: 18px;" st-content="rightimage-paragraph">
                           <span style="color: #0D0D0D; font-family: Arial Black, sans-serif;font-size: 16px; line-height:15px;"> 
                           Thank you for your order - <strong style="color:#007852;"><span style="border-bottom:1px dashed #ccc;z-index:1" t="7" onclick="return false;" data="">{{order.id}}</span></strong>.
                           </span>
                           <p style="color:#0D0D0D;font-size:16px;">You have successfully placed your order with our bike hire system. You'll find a reminder of what you've purchased below.</p>
                        </td>
                     </tr>
                     <tr>
                        <td width="100%" height="5" style="height:5px"></td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         
		 <tr>
                        <td width="100%" height="30" style="height:30px"></td>
                     </tr>
         <tr>
            <td>
               <table width="650" align="center" class="devicewidthinner" style="width:600px" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                     <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 15px; color: #000000;line-height: 18px;" st-content="rightimage-paragraph">
                           <span style="color:#007852; font-family: Arial Black, sans-serif;font-size: 16px; line-height:15px;text-transform:uppercase;"> 
                           Order details
                           </span>
                        </td>
                     </tr>
                     <tr>
                        <td width="100%" height="5" style="height:5px"></td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         <tr>
            <td valign="top" style="font-family: Arial, sans-serif; font-size: 16px; color:#000000;" align="center">
               <table cellpadding="0" cellspacing="0" width="600">
                  <tbody>
                     <tr>
                        <td valign="top" align="left">

      <table width="100%" cellpadding="0" cellspacing="0">
         <tbody><tr>
            <td style="width:150px;"><p style="font-weight:bold;color: #464646;">Order Date:</p></td>
            <td style="color:#464646;width:auto;">{{order.create_time}}
</td>
         </tr>
		 <tr>
            <td style="width:150px;"><p style="font-weight:bold;color: #464646;">Rent Time:</p></td>
            <td style="color:#464646;width:auto;">from {{order.begin_date}} to {{order.end_date}}
</td>
         </tr>
         
         <tr>
            <td style="font-weight:bold;color: #464646;width:150px;">Order Type:</td>
            <td style="color:#464646;width:auto;">Pick up the car at the store</td>
		 </tr>
         <tr>
            <td style="font-weight:bold;color: #464646;width:150px">Payment:</td>
            <td style="color:#464646;width:auto;"><p>Paid</p></td>
         </tr>
         
      </tbody></table>

                        </td>
                     </tr>

                  </tbody>
               </table>
            </td>
         </tr>
         


                     <tr>
                        <td width="100%" height="30" style="height:30px"></td>
                     </tr>
<tr>
            <td>
               <table width="650" align="center" class="devicewidthinner" style="width:600px" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                     <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 15px; color: #000000;line-height: 18px;" st-content="rightimage-paragraph">
                           <span style="color:#007852; font-family: Arial Black, sans-serif;font-size: 16px; line-height:15px;text-transform:uppercase;"> 
                           Price Details
                           </span>
                        </td>
                     </tr>
					 <tr>
                        <td valign="top" align="left">
							<table width="100%" cellpadding="15" cellspacing="0" bgcolor="#e8e8e8">
								<tbody>
									<tr>
                <td style="font-family: Arial, sans-serif; font-size: 16px; color:#000000;">Bike name: </td><br>
                <td align="right" style="font-family: Arial, sans-serif; font-size: 16px; color:#000000;">{{order.bike.title}}</td>
</tr>
                                    <tr>
                <td style="font-family: Arial, sans-serif; font-size: 16px; color:#000000;">Bike price: </td><br>
                <td align="right" style="font-family: Arial, sans-serif; font-size: 16px; color:#000000;">£{{order.bike_price}}</td>
</tr>
                                    <tr>
                <td style="font-family: Arial, sans-serif; font-size: 16px; color:#000000;">Days: </td><br>
                <td align="right" style="font-family: Arial, sans-serif; font-size: 16px; color:#000000;">{{order.days}}</td>
</tr>
<tr>
                <td colspan="3" style="padding:0px; border-bottom: 1px solid #e3e3e3;"></td>
</tr> 
									<tr>
										<td colspan="2" style="padding:0px; border-bottom: 1px solid #e3e3e3;"></td>
									</tr>
									
       									
									<tr>
										<td colspan="2" style="font-family: Arial, sans-serif; font-size: 16px; color:#000000;"><strong>TOTAL</strong></td>
										<td colspan="1" align="right" style="font-family: Arial, sans-serif; font-size: 16px; color:#000000;"><strong>£{{order.amount}}</strong></td>
									</tr>
								</tbody>
							</table> 
                          
                          
                        </td>
                     </tr>
                  </tbody>
               </table>
			   
            </td>
         </tr>



<tr>
                        <td width="100%" height="10" style="height:10px"></td>
                     </tr>
<tr>
                        <td width="100%" height="30" style="height:30px"></td>
                     </tr>
<tr>
            <td>
               <table width="650" align="center" class="devicewidthinner" style="width:600px" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                     <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 15px; color: #000000;line-height: 18px;" st-content="rightimage-paragraph">
                           <span style="color:#007852; font-family: Arial Black, sans-serif;font-size: 16px; line-height:15px;text-transform:uppercase;"> 
                           Your Ordered Store
                           </span>
                        </td>
                     </tr>
                     <tr>
                        <td width="100%" height="10" style="height:10px"></td>
                     </tr>
                  </tbody>
               </table>
            </td>

         </tr>

<tr>
            <td>
               <table width="650" align="center" class="devicewidthinner" style="width:600px" bgcolor="#e8e8e8" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                     <tr>

                        <td style="font-family: Arial, sans-serif; font-size: 16px; color:#464646;line-height: 18px;" st-content="rightimage-paragraph">
                           <p style="margin:10px;">If you have any questions of concerns about your order, please contact your store directly.</p>
							<p style="margin:10px;"><strong style="margin-right:40px;">Address:</strong>{{order.bike.location.address}}</p>
							<p style="margin:10px;"><strong style="margin-right:40px;">Number:</strong> <span style="border-bottom:1px dashed #ccc;z-index:1" t="7" onclick="return false;" data="434040">0000-0000</span></p>
						</td>
                     </tr>
                     <tr>
                        <td width="100%" height="5" style="height:5px"></td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>

                     <tr>
                        <td align="center" width="100%" height="200" style="height:20px"><img src="{{img}}" height="300" style="display:block;"></td>
                     </tr>

<tr>
            <td>
               <table width="650" align="center" class="devicewidthinner" style="width:600px" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                     <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 14px; color: #464646;line-height: 18px;" st-content="rightimage-paragraph">
                           <p style="font-family: Arial, sans-serif; font-size: 14px; color:#464646;">Please do not reply to this order processing email, as it is sent from an automated account which is not monitored. If you need immediate assistance to amend your order, please contact the store directly.</p>
                        </td>
                     </tr>
                     <tr>
                        <td width="100%" height="5" style="height:5px"></td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         <tr>
            <td width="650" colspan="2" bgcolor="#f7f7f7" height="20"> </td>
         </tr>
         <tr>
         </tr>
         <tr>
            <td width="650" colspan="2" bgcolor="#f7f7f7" height="20"> </td>
         </tr>
      </tbody></table>
   

<style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {display: none !important;}</style></div></div><!-- --><style>#mailContentContainer .txt {height:auto;}</style>  </div>

</body>